.App {
  text-align: center;
}

a {
  color: black;
}

.btn {
  background-color: #1b9bf0;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: small;
  text-decoration: none;
}

.btn:hover {
  background-color: #00538a;
}

